<div class="change-pass-container">
  <div class="change-pass-card">
    <h2>{{ mode === 'forgot' ? 'Reset Password' : 'Change Password' }}</h2>

    <form (ngSubmit)="onSubmit()">
      <div class="form-group" *ngIf="mode === 'dashboard'">
        <label>Old Password</label>
        <input type="password" [(ngModel)]="form.oldPassword" name="oldPassword" class="form-control">
      </div>

      <div class="form-group" *ngIf="mode === 'forgot'">
        <label class="form-label">Username</label>
        <input type="text" [(ngModel)]="form.username" name="username" class="form-control" >
      </div>

      <div class="form-group">
        <label>New Password</label>
        <input type="password" [(ngModel)]="form.newPassword" name="newPassword" class="form-control">
      </div>

      <div class="form-group">
        <label>Confirm Password</label>
        <input type="password" [(ngModel)]="form.confirmPassword" name="confirmPassword" class="form-control">
      </div>

      <button type="submit" [disabled]="isLoading">
        {{ isLoading ? 'Processing...' : 'Change Password' }}
      </button>
    </form>

    <div *ngIf="messageEn || messageAr" class="alert" [ngClass]="isSuccess ? 'alert-success' : 'alert-danger'">
      <p *ngIf="messageEn">{{ messageEn }}</p>
      <p *ngIf="messageAr">{{ messageAr }}</p>
    </div>
  </div>
</div>
