<!-- Navbar & Hero Start -->
<div class="container-xxl position-relative p-0">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
    <a routerLink="/products" class="navbar-brand p-0">
      <h1 class="text-primary m-0"><i class="fa fa-utensils me-3"></i>Restoran</h1>
      <!-- <img src="img/logo.png" alt="Logo"> -->
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <input *ngIf="showSearch()" #key class="form-control" type="search" placeholder="Search" aria-label="Search" (input)="search(key.value)">
<!--      <button class="btn btn-outline-success" type="submit" (click)="search(key.value)">Search</button>-->
      <div class="navbar-nav ms-auto py-0 pe-4">
        <div *ngIf="isUserLogin()" class="nav-item nav-link active"><a routerLink="/contact-info">Contact</a></div>
        <div class="nav-item nav-link active"> </div>
        <div *ngIf="isUserLogin()" class="nav-item nav-link active"><a routerLink="/chefs">Team</a></div>
        <div *ngIf="!isUserLogin()" class="nav-item nav-link active"><a routerLink="/login">Login</a></div>
        <div *ngIf="!isUserLogin()" class="nav-item nav-link active"><a routerLink="/signup">Signup</a></div>
        <div *ngIf="isUserLogin()" class="nav-item nav-link active"><a (click)="logout()" routerLink="/signup">Logout</a></div>
        <div class="nav-item nav-link active"> </div>

        <div *ngIf="isUserLogin()" class="nav-item">
          <a routerLink="/dashboard" class="nav-link d-flex align-items-center dashboard-link">
            <i class="fas fa-columns me-2"></i>
            <span>Dashboard</span>
          </a>
        </div>



        <!--        <div *ngIf="isUserLogin()" class="nav-item dropdown">-->
<!--          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">-->
<!--            <i class="fas fa-list"></i> Account Menu-->
<!--          </a>-->
<!--          <div class="dropdown-menu dropdown-menu-end shadow-lg rounded-3 p-2">-->
<!--            <a href="booking.html" class="dropdown-item d-flex align-items-center">-->
<!--              <i class="fas fa-history me-2 text-primary"></i> Show Orders History-->
<!--            </a>-->
<!--            <a href="team.html" class="dropdown-item d-flex align-items-center">-->
<!--              <i class="fas fa-box-open me-2 text-success"></i> Show All Orders-->
<!--            </a>-->
<!--            <a href="testimonial.html" class="dropdown-item d-flex align-items-center">-->
<!--              <i class="fas fa-plus-circle me-2 text-warning"></i> Add New Product-->
<!--            </a>-->
<!--            <a href="testimonial.html" class="dropdown-item d-flex align-items-center">-->
<!--              <i class="fas fa-key me-2 text-info"></i> Change Password-->
<!--            </a>-->
<!--            <a href="testimonial.html" class="dropdown-item d-flex align-items-center text-danger">-->
<!--              <i class="fas fa-user-slash me-2"></i> Remove Account-->
<!--            </a>-->
<!--          </div>-->
<!--        </div>-->

        <!--<a href="contact.html" class="nav-item nav-link">Contact</a>-->
      </div>


    </div>
    <app-card *ngIf="showCard()"></app-card>
  </nav>

  <div class="container-xxl py-5 bg-dark hero-header mb-5">
  </div>
</div>
<!-- Navbar & Hero End -->
